* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[data-testid="slackUserName"]{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

[ data-testid="slackDisplayImage"] {
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box-body {
  background-color: aquamarine;
  padding: 70px;
  border-radius: 10px;
}

.duration {
  display: flex;
  margin: 0 5px;
  align-items: flex-start;
}

data {
  margin-left: 10px;
}

[ data-testid="myTrack"]{
    font-weight: bold;
}

a[data-testid=“githubURL” ]{
  text-decoration: none;
  font-weight: bold;
}
